*~
*pdf
*.log
*.aux
build
*.pyc
CMakeFiles

# Left overs from CMake
tools/CMakeCache.txt
tools/CMakeFiles
tools/Makefile
tools/cmake_install.cmake
tools/install_manifest.txt
tools/src/CMakeFiles
tools/src/Makefile
tools/src/cmake_install.cmake
tools/src/reduce_match
tools/src/extract_clementine_gcp
tools/src/apollo_to_pinhole
tools/src/gcp_from_net
tools/src/apollo_match
tools/src/vwip_filter
tools/src/apollo_bulk_match
tools/src/bulk_match_unpack
tools/src/cnet_merge
tools/src/cnet_convert
tools/src/apollo_guided_match
tools/src/cnet_usgs_conv
tools/src/csv_2_isis_adjust
tools/src/isis_adjust_2_csv
tools/src/csv_2_match
tools/src/extract_lola_wac_gcp
tools/src/extract_lola_wac_gcp2
tools/src/ip_disparity

tools/scripts/Makefile
tools/scripts/CMakeFiles
tools/scripts/*.cmake
tools/scripts/ip_guided_match
tools/scripts/homography_fit
tools/scripts/ba_filter
tools/scripts/predict_homography
tools/scripts/kriging_guided_match

tools/thirdparty/ann_1.1.2/lib
tools/thirdparty/ann_1.1.2/src/*.o

PBS/*.o??????
